body{
  font-family: verdana;
}
input{
  margin: 10px;
}
div#form{
  background-color: white;
  border: 1px solid #25b2d5;
  width: 350px;
  margin: 0 auto;
}
div#inside_header{
  background-color: 25b2d5;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  color: white;
  padding: 20px;
}
input[type=text], input[type=password]{
  display:block;
  padding:10px;
  border-radius: 3px;
  border:1px solid #ddd;
}
input[type=submit], input[type=reset]{
  padding: 5px 10px 5px 10px;
  background-color: 25b2d5;
  border: 1px solid solid #319db8;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}
