#body{
  margin: 0px;
  padding: 10px;
}
ul.mylist{
  list-style: none;
  margin: 0px;
  padding: 0px;
  max-width: 900px;
  width: 100%;
}
ul.mylist li{
  width: 200px;
  height: 200px;
  display: inline-block;
  margin: 10px;
  padding: 50px;

  font-size: 14px;

}
.mylist li img{
  width: 200px;
  height: 200px;
}
.mylist li input[type=submit]{
  padding: 5px 20px 5px 20px;
  background-color: #fccfcf;
}
.mylist li label{
  font-size: 25px;
  color: #B4886B;
  font-weight: bold;
}